@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap'); 
  *, ::before, ::after {
    box-sizing: border-box; }

    ::before, ::after {
      text-decoration: inherit;
      vertical-align: inherit; }

      html {
        cursor: default;
        line-height: 1.5;
        -moz-tab-size: 4;
        tab-size: 4;
        -webkit-tap-highlight-color: transparent;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        word-break: break-word; }

        body {
          margin: 0; }

          h1 {
            font-size: 2em;
            margin: 0.67em 0; }

            dl dl, dl ol, dl ul, ol dl, ul dl {
              margin: 0; }

              ol ol, ol ul, ul ol, ul ul {
                margin: 0; }

                hr {
                  height: 0;
                  overflow: visible; }

                  main {
                    display: block; }

                    nav ol, nav ul {
                      list-style: none;
                      padding: 0; }

                      pre {
                        font-family: monospace, monospace;
                        font-size: 1em; }

                        a {
                          background-color: transparent; }

                          abbr[title] {
                            text-decoration: underline;
                            text-decoration: underline dotted; }

                            b, strong {
                              font-weight: bolder; }

                              code, kbd, samp {
                                font-family: monospace, monospace;
                                font-size: 1em; }

                                small {
                                  font-size: 80%; }

                                  audio, canvas, iframe, img, svg, video {
                                    vertical-align: middle; }

                                    audio, video {
                                      display: inline-block; }

                                      audio:not([controls]) {
                                        display: none;
                                        height: 0; }

                                        iframe {
                                          border-style: none; }

                                          img {
                                            border-style: none; }

                                            svg:not([fill]) {
                                              fill: currentColor; }

                                              svg:not(:root) {
                                                overflow: hidden; }

                                                table {
                                                  border-collapse: collapse; }

                                                  button, input, select {
                                                    margin: 0; }

                                                    button {
                                                      overflow: visible;
                                                      text-transform: none; }

                                                      button, [type="button"], [type="reset"], [type="submit"] {
                                                        -webkit-appearance: button; }

                                                        fieldset {
                                                          border: 1px solid #a0a0a0;
                                                          padding: 0.35em 0.75em 0.625em; }

                                                          input {
                                                            overflow: visible; }

                                                            legend {
                                                              color: inherit;
                                                              display: table;
                                                              max-width: 100%;
                                                              white-space: normal; }

                                                              progress {
                                                                display: inline-block;
                                                                vertical-align: baseline; }

                                                                select {
                                                                  text-transform: none; }

                                                                  textarea {
                                                                    margin: 0;
                                                                    overflow: auto;
                                                                    resize: vertical; }

                                                                    [type="checkbox"], [type="radio"] {
                                                                      padding: 0; }

                                                                      [type="search"] {
                                                                        -webkit-appearance: textfield;
                                                                        outline-offset: -2px; }

                                                                        ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
                                                                          height: auto; }

                                                                          ::-webkit-input-placeholder {
                                                                            color: inherit;
                                                                            opacity: 0.54; }

                                                                            ::-webkit-search-decoration {
                                                                              -webkit-appearance: none; }

                                                                              ::-webkit-file-upload-button {
                                                                                -webkit-appearance: button;
                                                                                font: inherit; }

                                                                                ::-moz-focus-inner {
                                                                                  border-style: none;
                                                                                  padding: 0; }

                                                                                  :-moz-focusring {
                                                                                    outline: 1px dotted ButtonText; }

                                                                                    :-moz-ui-invalid {
                                                                                      box-shadow: none; }

                                                                                      details {
                                                                                        display: block; }

                                                                                        dialog {
                                                                                          background-color: white;
                                                                                          border: solid;
                                                                                          color: black;
                                                                                          display: block;
                                                                                          height: -moz-fit-content;
                                                                                          height: -webkit-fit-content;
                                                                                          height: fit-content;
                                                                                          left: 0;
                                                                                          margin: auto;
                                                                                          padding: 1em;
                                                                                          position: absolute;
                                                                                          right: 0;
                                                                                          width: -moz-fit-content;
                                                                                          width: -webkit-fit-content;
                                                                                          width: fit-content; }

                                                                                          dialog:not([open]) {
                                                                                            display: none; }

                                                                                            summary {
                                                                                              display: list-item; }

                                                                                              canvas {
                                                                                                display: inline-block; }

                                                                                                template {
                                                                                                  display: none; }

                                                                                                  a, area, button, input, label, select, summary, textarea, [tabindex] {
                                                                                                    -ms-touch-action: manipulation;
                                                                                                    touch-action: manipulation; }

                                                                                                    [hidden] {
                                                                                                      display: none; }

                                                                                                      [aria-busy="true"] {
                                                                                                        cursor: progress; }

                                                                                                        [aria-controls] {
                                                                                                          cursor: pointer; }

                                                                                                          [aria-disabled="true"], [disabled] {
                                                                                                            cursor: not-allowed; }

                                                                                                            [aria-hidden="false"][hidden] {
                                                                                                              display: initial; }

                                                                                                              [aria-hidden="false"][hidden]:not(:focus) {
                                                                                                                clip: rect(0, 0, 0, 0);
                                                                                                                position: absolute; }

                                                                                                                body {
                                                                                                                  background-color: #ff6f69; }

                                                                                                                  #content {
                                                                                                                    margin: 0em 15%;
                                                                                                                    display: grid;
                                                                                                                    min-height: 110em;
                                                                                                                    grid-column-gap: 0.666em;
                                                                                                                    grid-row-gap: 2em;
                                                                                                                    align-items: auto;
                                                                                                                    grid-template-columns: [content-s about-s] 35fr [about-e project-s] 65fr [project-e content-e];
                                                                                                                    grid-template-rows: [content-s header-s] .6fr [header-e about-s] 3fr [about-e quote-s] .33fr [quote-e bubbles-s] 1fr [bubbles-e content-e]; }
                                                                                                                    #content .header {
                                                                                                                      grid-row: header-s / header-e;
                                                                                                                      grid-column: content-s / content-e; }
                                                                                                                      #content .about {
                                                                                                                        grid-row: about-s / about-e;
                                                                                                                        grid-column: about-s / about-e; }
                                                                                                                        #content .projects {
                                                                                                                          grid-row: about-s / about-e;
                                                                                                                          grid-column: projects-s / projects-e; }
                                                                                                                          #content .quote {
                                                                                                                            grid-row: quote-s / quote-e;
                                                                                                                            grid-column: 1 / 5; }
                                                                                                                            #content .bubble-container {
                                                                                                                              grid-row: bubbles-s / bubbles-e;
                                                                                                                              grid-column: content-s / content-e; }

  .header {
    text-align: center;
    color: #33595c; }
    .header .name {
      margin: 1em 0 0;
      font-size: 4rem;
      font-weight: normal;
      line-height: 3rem; }
      .header .contact {
        display: inline-flex; }
        .header .contact__item {
          list-style: none;
          font-family: 'Baloo Tamma 2';
          font-size: 1.25rem;
          width: 12em; }
          .header .contact__item__link {
            color: #33595c;
            text-decoration: none;
            transition: all 0.15s ease; }
            .header .contact__item__link .fa-external-link-alt {
              font-size: 0.8rem;
              margin-left: 0.3em; }
              .header .contact__item__link:visited {
                color: #33595c; }
                .header .contact__item__link:hover {
                  color: #ff6f69;
                  font-size: 1.3rem; }

  .about {
    background-color: #33595c;
    color: ivory;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
    .about__title {
      margin: 0;
      text-align: center;
      width: auto; }
      .about__img {
        max-width: 30em;
        height: auto;
        margin: 2.5em 0em;
        border-radius: 1em; }
        .about__info {
          text-align: justify;
          font-size: 1.05rem;
          margin: 0; }

  .projects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 2em;
    color: #33595c; }
    .projects .project {
      background-color: #94ccb4;
      border-radius: 1.5em;
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 0.1fr 1fr;
      grid-column-gap: 1em;
      align-items: center; }
      .projects .project__title {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        margin: 0;
        font-size: 2em; }
        .projects .project__img {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
          width: 10em;
          height: auto;
          border-radius: 0.6em; }
          .projects .project__description {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            font-size: 1.2rem;
            height: auto;
            margin: 0; }

  .quote {
    color: #33595c;
    background-color: #ffcc5c;
    border-radius: 3em; }

    .quote__text {
      font-size: 1.5em;
      margin: 0 0 0.5em 0; }
      .quote__author {
        font-weight: bold;
        font-size: 1.2em;
        margin-left: 5em; }

  body {
    font-family: 'Cabin', sans-serif;
    background-color: ivory; }

    h1, h2 {
      font-family: 'Baloo Tamma 2'; }

      .content-box {
        padding: 2em; }
