.about {
    background-color: $c-green-dark;
    color: $c-cream;
    border-radius: $box-radius;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    padding: 1em;

    &__title {
        margin: 0;
        text-align: center;
        width: auto;
    }

    &__img {
        max-width: 30em;
        height: auto;
        
        margin: 2.5em 0em;;
        border-radius: $box-radius / 3;
    }

    &__info {
        text-align: justify;
        font-size: 1.05rem;
        padding: 1.5em;
        margin: 0;
    }

}