// Colors
$c-green-light: rgb(148, 204, 180);
$c-green-mid: rgb(12, 156, 164);
$c-green-dark: rgb(51,89,92);

$c-olive: rgb(206, 208, 125);
$c-pink: rgb(255, 111, 105);
$c-orange: rgb(255, 204, 92);

$c-cream: rgb(255,255,240);
$c-gray: rgb(38,40,45);

// Fonts
$f-header: 'Baloo Tamma 2';
$f-content: 'Cabin';