.bubble {
    border-radius: 50%;
    

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 350px;
    max-height: 350px;

    $bubble-colors: $c-pink, $c-orange, $c-green-light, $c-olive, $c-green-dark, $c-orange;
    @for $i from 1 through length($bubble-colors) {
        &:nth-child(#{length($bubble-colors)}n+#{$i}) {
            background-color: nth($bubble-colors, $i);
        }
    }
    
    $left-margins: 12%, 46%, 23%, 2%, 40%, 18%;
    $top-margins: 0em, 10em, 28em, 42em, 49em, 63em;
    $sizes: 350px, 330px, 335px, 325px, 340px, 320px;

    @for $i from 1 through length($left-margins) {
        &:nth-child(#{length($left-margins)}n+#{$i}) {
            margin-left: nth($left-margins, $i);
            margin-top: nth($top-margins, $i);

            height: nth($sizes, $i);
            width: nth($sizes, $i);

        }
    }
}



