.bubble-container {
    margin-bottom: 2em;
    height: 1428px;
}

.bubble {
    border-radius: 50%;
    position: absolute;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    img {
        height: auto;
        width: 180px;
    }

    &-title {
        color: white;
        font-size: 40px;
        font-weight: bold;
        font-family: $f-header, sans-serif;
    }

    $bubble-colors: $c-pink, $c-orange, $c-green-light, $c-green-dark, $c-green-dark, $c-orange, $c-pink;
    @for $i from 1 through length($bubble-colors) {
        &:nth-child(#{length($bubble-colors)}n+#{$i}) {
            background-color: nth($bubble-colors, $i);
        }
    }
    
    $left-margins: 12%, 46%, 23%, 2%, 48%, 21%, 39%;
    $top-margins: 0em, 10em, 28em, 42em, 49em, 68em, 81em;
    $sizes: 360px, 320px, 335px, 325px, 340px, 320px, 340px;

    @for $i from 1 through length($left-margins) {
        &:nth-child(#{length($left-margins)}n+#{$i}) {
            margin-left: nth($left-margins, $i);
            margin-top: nth($top-margins, $i);

            height: 340px;
            width: 340px;

            animation-delay: $i * 1s;

        }
    }

    // animation: float 8s ease;
    // animation-iteration-count: infinite;;

    &:hover {
        animation: swing .5s ease;
        animation-iteration-count: 1;
    }
}

@keyframes swing {
    15% {
        transform: translateY(-5px);
    }
    30% {
        transform: translateY(5px);
        transform: scaleX(98%);
    }
    50% {
        transform: translateY(-3px);
    }
    65% {
        transform: translateY(3px);
        transform: scaleX(99%);
    }
    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes float {
    25% {
        transform: translate(-3px, 2px);
    }
    50% {
        transform: translate(3px, -1px);
    }
    75% {
        transform: translate(-3px, -4px);
    } 
    100% {
        transform: translate(0px, 0px);
    }
}




