// Setup
@import 'utilities/normalize';
@import 'utilities/fonts';
@import 'utilities/variables';

// Content
@import './bubbles';
@import './bubble-canvas.scss';
@import './grid';
@import './header';
@import './about';
@import './projects';
@import './quote.scss';

// General Styles
body {
    font-family: $f-content, sans-serif;
    background-color: $c-cream;
}

h1, h2 {
    font-family: $f-header;
}

.content-box {
    padding: 32px;
}