{% extends 'base.html' %}


{% block head %}

{% assets "scss_all" %}
<script src="https://kit.fontawesome.com/fd7b2f50ce.js" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='bubbles.js')}}"></script>
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}

{% endblock %}


{% block body %}

<div id="content">
  <div class='header'>

    <h1 class="name">Hi! I'm Jaren Glenn</h1>

    <ul class="contact">

      <li class="contact-item">(435) 799-4464</li>

      <li class="contact-item">
        <a class="contact-item-link" href="mailto:jarenglenn@gmail.com" target="_blank">
          jarenglenn@gmail.com
          <i class="fas fa-external-link-alt"></i>
        </a>
      </li>

      <li class="contact-item">
        <a class="contact-item-link" href="../static/img/Jaren Glenn Resume.pdf" target="_blank">
          Resume
          <i class="fas fa-external-link-alt"></i>
        </a>
      </li>

      <li class="contact-item">
        <a class="contact-item-link" href="https://github.com/jarenglenn" target="_blank">
          github.com/jarenglenn
          <i class="fas fa-external-link-alt"></i>
        </a>
      </li>

      <li class="contact-item">Logan, UT</li>
    </ul>
  </div>

  <div class="about-wrapper">
    <div class="about content-box">
      <div class="about-img-wrapper">
        <img class="about-img" src="../static/img/about-img.png">
      </div>

      <h1 class="about-title">Who Am I?</h1>
      <p class="about-info">
        I'm currently a student at Utah State University, studying computer science with a
        minor in math. I've had an
        interesting in computers and technology for as long as I can remember.
        I started out with video games and while I still do enjoy them from time to time, I now spend my time learning
        about and experimenting with
        new projects. I plan to go into the field of machine learning and artificial intelligence.
        I graduated from Ridgeline High School in 2019 as valedictorian, and finished Bridgerland Technical College's
        Information Technology program the same year. When I'm not learning how to develop something, I also enjoy
        building PCs, playing the piano, and
        reading all sorts of books!
      </p>
    </div>

    <div class="projects-wrapper">

      <div class="project content-box">
        <h2 class="project-title">Untitled Game Project</h2>
        <img class="project-img" src="../static/img/game.png">
        <p class="project-description">
          While still very early in development, this is the current game project I've been working on. Made in Unity3D,
          this
          rpg game will
          feature top-down combat, exploration, quests, ,looting and more. This project was started in late 2018.
        </p>
      </div>

      <div class="project content-box">
        <h2 class="project-title">Project Resynk</h2>
        <img class="project-img" src="../static/img/ini-file.png">
        <p class="project-description">
          Dubbed Resynk for now, I'm part of a small team developing an app that will sync config files between every
          game
          on your PC. It will allow for changes to propogate to each app individually, eliminating the need to change
          settings from within one specific game. Development started in early 2020.
        </p>
      </div>
    </div>
  </div>




  <div class="quote content-box">
    <p class="quote-text">A journey will have pain and failure. It is not only the steps forward that we must accept.
      It is the stumbles. The trials. The knowledge that we will fail. That we will hurt those around us.

      But if we stop, if we accept the person we are when we fail, the journey ends. That failure becomes our
      destination.
    </p>
    <div class="quote-author">- Brandon Sanderson, <span class="book">Oathbringer</span></div>
  </div>

  <div class="bubbles-title">Skills</div>

  <div class="bubble-container">


    <div class="bubble">
      <img class="bubble-img" src="../static/img/logos/react-logo.png" />
      <div class="bubble-title">ReactJS</div>
    </div>

    <div class="bubble">
      <img class="bubble-img" src="../static/img/logos/python-logo.png" />
      <div class="bubble-title">Python</div>
    </div>

    <div class="bubble">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="8 8 44 44" width="180" height="180">
        <g>
          <!-- <circle fill="#717171" cx="30" cy="30" r="30" /> -->
          <path fill="#fff"
            d="M28.708 19.75c.604.085 2.307.281 3.101.678s1.895-.877 1.202-1.474c-.795-.665-1.387-.857-4.181-1.778-.931-.301-1.66-1.616-3.184-2.218-.487-.192-1.916.111-2.42-.046l-.323-.977c-.331-.652-1.119.289-1.457-.045-.16-.158-.463-.837-.769-1.499.376-.403.617-.935.617-1.53 0-1.244-1.009-2.253-2.253-2.253s-2.253 1.009-2.253 2.253c0 1.149.872 2.06 1.983 2.198.108.417.194.886.243 1.3.1.848-1.264.586-1.368 1.005-.073.294-.163 1.312-.481 1.877-.264.47-1.755.467-2.132.964-.304.402-.442 1.429-.171 1.707-1.531 1.06-3.416 3.446-1.649 3.446 1.531-1.531 7.893-3.77 10.72-4.005 1.289-.108 3.352.197 4.775.397zm14.075 23.517c-7.068-1.767-8.6-4.241-11.309-7.068-3.516-3.669-3.063-14.696-3.063-14.696s-3.063-.618-6.126-.029-7.642 2.606-7.642 2.606.457 7.289 6.347 15.182c5.89 7.893 14.137 8.482 19.791 8.011 5.4-.45 10.72-1.885 10.72-3.299-.001-1.414-1.65 1.06-8.718-.707z" />
        </g>
      </svg>
      <div class="bubble-title">Flask</div>
    </div>

    <div class="bubble">
      <img class="bubble-img" src="../static/img/logos/html-logo.png" />
      <div class="bubble-title">HTML & CSS</div>
    </div>

    <div class="bubble">
      <img class="bubble-img" src="../static/img/logos/java-logo.png" />
      <div class="bubble-title">Java</div>
    </div>

    <div class="bubble">
      <img class="bubble-img" src="../static/img/logos/linux-logo.png" />
      <div class="bubble-title">Linux OS</div>
    </div>
  </div>

  <div class="certs-wrapper">

    <div class="certs-title">Certificates</div>

    <div class="cert content-box">
      <div class="cert-info-wrapper">
        <div class="cert-title">CompTIA A+</div>
        <div class="cert-line"></div>
        <div class="cert-description">Computer hardware, networking, troubleshooting, etc</div>
      </div>
      <img class="cert-img" src="../static/img/certs/CompTIA_A+.png" />
    </div>

    <div class="cert content-box">
      <div class="cert-info-wrapper">
        <div class="cert-title">Network Pro</div>
        <div class="cert-line"></div>
        <div class="cert-description">Network management, configuration, security, etc</div>
      </div>
      <img class="cert-img" src="../static/img/certs/NetPro.png" />
    </div>

    <div class="cert content-box">
      <div class="cert-info-wrapper">
        <div class="cert-title">PC Pro</div>
        <div class="cert-line"></div>
        <div class="cert-description">Manage, repair, secure, and configure computer hardware</div>
      </div>
      <img class="cert-img" src="../static/img/certs/PCPro.png" />
    </div>
  </div>

</div>


{% endblock %}